#pageHeading{
    font-family: Honk, serif;
    text-align: center;
    margin-bottom: 45px;
    font-size: 100px;
}

body{
    background-color: rgb(46, 99, 99);
    font-family: Honk, serif;
}

h2 {
    font-size: 75px;
}



p {
    font-size: 45px;
}

ul {
    font-size: 40px;
}

button {
    font-size: 30px;
    background-color: rgb(194, 4, 194);
}

