#pageHeading{
    color: green;
    font-family: Honk, serif;
    padding-left: 50;
}

body{
    background-color: darkslategray;
    font-family: Honk, serif;
}

h2 {
    font-size: 55px;
}

h1 {
    font-size: 75px;
} 

p {
    font-size: 30px;
}

ul {
    font-size: 24px;
}

button {
    font-size: 24px;
}
