#pageHeading{
    color: green;
    font-family: Honk, serif;
    margin: 60px 60px;
    text-align: center;
}

body{
    background-color: rgb(46, 99, 99);
    font-family: Honk, serif;
}

h2 {
    font-size: 55px;
}

h1 {
    font-size: 75px;
} 

p {
    font-size: 30px;
}

ul {
    font-size: 24px;
}

button {
    font-size: 24px;
    background-color: rgb(194, 4, 194);
}

